<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- seo -%}

  <!-- Titolo della tab: solo il titolo del sito -->
  <title>{{ site.title }}</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ '/assets/icons/favicon.svg' | relative_url }}">
  
  <!-- Fogli di stile -->
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  
  <!-- Feed RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}">
</head>
